*.o
*.swp
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bosh/Makefile
bosh/Makefile.in
bosh/bosh
compile
config.h
config.h.in
config.log
config.status
configure
cscope.in.out
cscope.out
cscope.po.out
depcomp
gnome-doc-utils.make
gtk-doc.make
install-sh
m4/
missing
omf.make
stamp-h1
tags
xmldocs.make
